{!docs/snippets/markdown/readme/0-opener.<lang>.md!}

{!docs/snippets/markdown/readme/0a-language-badges.md!}

{!docs/snippets/markdown/readme/0b-status-badges.md!}

{!docs/snippets/markdown/readme/0c-intro.<lang>.md!}

{!docs/snippets/markdown/readme/1-live-demos.<lang>.md!}

{!docs/snippets/markdown/readme/2-features.<lang>.md!}

{!docs/snippets/markdown/readme/3-install.md!}

{!docs/snippets/markdown/readme/4-resources.<lang>.md!}

{!docs/snippets/markdown/readme/5-announcements.<lang>.md!}

{!docs/snippets/markdown/readme/6-remarks.<lang>.md!}
