.cm-s-monokai {
	font-size: 1em;
	line-height: 1.5em;
	font-family: inconsolata, monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #272822;
	color: #F8F8F2;
}
.cm-s-monokai .CodeMirror-lines {
	padding: 8px 0;
}
.cm-s-monokai .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: #272822;
	padding-right: 10px;
	z-index: 3;
	border: none;
}
.cm-s-monokai div.CodeMirror-cursor {
	border-left: 3px solid #F8F8F2;
}
.cm-s-monokai .CodeMirror-activeline-background {
	background: #49483E;
}
.cm-s-monokai .CodeMirror-selected {
	background: #49483E;
}
.cm-s-monokai .cm-comment {
	color: #75715E;
}
.cm-s-monokai .cm-string {
	color: #E6DB74;
}
.cm-s-monokai .cm-number {
	color: #66D9EF;
}
.cm-s-monokai .cm-atom {
	color: #66D9EF;
}
.cm-s-monokai .cm-keyword {
	color: #F92672;
}
.cm-s-monokai .cm-variable {
	color: #A6E22E;
}
.cm-s-monokai .cm-def {
	font-style: italic;
	color: #FD971F;
}
.cm-s-monokai .cm-variable-2 {
	color: #F92672;
}
.cm-s-monokai .cm-property {
	color: #66D9EF;
}
.cm-s-monokai .cm-operator {
	color: #F92672;
}
.cm-s-monokai .CodeMirror-linenumber {
	color: #75715E;
}
